<header id="top" class="header">
    <div class="header-wrapper">
        <h1 class="header-title"><span>Connection.</span></h1>
        <input type="text" placeholder="Search" class="header-input">
        <button type="submit">
            <div class="btn-img-container">
                <img src="../assets/images/buscar.png">
            </div>
        </button>
        <div class="header-buttons">
            <button class="button" id="saveBtn" type="button"><span class="button-text">Save data</span></button>
            <button class="button" id="retrieveBtn"type="button"><span class="button-text">Retrieve data</span></button>
        </div>
        <a class="shopping-cart">
            <div class="cart-img-container">
                <img src="../assets/images/carro-de-la-compra.png">
            </div>
        </a>
    </div>
</header>