.main {
    margin: 0px;
    font-family: monospace;
    font-size: 16px;
    color: white;
    .main-wrapper {
        background-color: black;
        text-align: center;
        .contact-list {
            margin: 0px;
            list-style: none;
        }
    }
}